body{
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    margin:0;
    padding:0;
    padding-top:20px;
}
.container {
    border: 2px solid black;
}

.row{
    display: flex;
}

.column {
    width: 12px;
    height:12px;
    background-color: gray;
}

